/* Global styles */


.profilebottom{
    display: flex;
    flex-direction: row;
    width: 1366px; margin: 0 auto; overflow: hidden;
    height: 100%;
}



.main-content {
position: flex;
left: 0;
right: 0;
z-index: 7;
margin: 0 auto;
padding: 0px 100px 0px 100px;
}

/* Container for book contentss*/
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: table;
    width: 970px;
}

.row {
    padding: 30px 30px 30px 30px;
    margin-left: -15px;
    margin-right: -15px;
    display: table;
    width: 100%;
}

#book-poster {
display: relative;
float: left;
padding-left: 15px;
padding-right: 15px;
}

#book-content #book-poster img {
    height: 390px;
}

#book-poster img {
    border: 5px solid #e3ecfc;
    border-radius: 10px;
    width: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
vertical-align: middle;
border: 0;
overflow-clip-margin: content-box;
overflow: clip;
}

.post-image {
    display: block;
    width: 100%;
}

.post-rating-container {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.post-rating {
    display: flex;
    align-items: center;
    cursor: default;
}

.post-rating:not(:last-child){
    margin-right: 12px;
}

.post-rating-button {
    margin-right: 6px;
    cursor: pointer;
    color: #555555;
    background: transparent;
    border-color: transparent;
}

.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
    color: #009578;
}

.post-rating:not(.post-rating-selected) > .post-rating-button:hover{
    color: #000000;
}

#book-info{
    text-align: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 65%;
    word-wrap: break-word;
}

.book-description .book-card .description {
    position: flex;
    height: 210px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: justify;
}

.book-description .book-card .description::before {
    content: '';
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(transparent, #f2f7ff);
}

.book-description .book-card.active .description {
    height: auto;
}

.book-description .book-card.active .description::before {
    display: none;
}

.book-description .book-card .more {
    display: inline-block;
    cursor: pointer;
    text-transform: lowercase;
    color: #555555;
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
}

.book-description .book-card .more::before {
    content: 'Read More'; 
}

.book-description .book-card.active .more::before { /* not working yet */
    content: 'Read Less'; 
}

/*Book Contents End*/

/*Comment Section Start*/

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.comment-box, comment-list{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px #0002;
}

.comment-section{
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.comment-list{
    width: 100%;
    margin-bottom: 12px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px #0002;
    max-height: 300px; 
    overflow-y: auto; 
    padding: 10px;
}

.comment-list .user{
    display: flex;
    padding: 8px;
    overflow: hidden;
    align-items: center;
}

.comment-list .user img{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-list .name{
    text-transform: uppercase;
    font-weight: 600;
}

.comment-list .day{
    font-size: 12px;
}

.reply {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.post-comment .comment{
    padding: 0 10px 15px 58px;
    word-wrap: break-word;
}

.comment-box{
    padding: 10px;
    overflow: hidden;
}

.comment-box .user {
    display: flex;
    width: min-content;
}

.comment-box .image img{
    width:24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-box textarea{
    background: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 0.5px #0003;
}

.comment-box textarea.focus{
    outline-color: #009cff;
}

.comment-box .comment-submit{
    float: right;
    padding: 6px 14px;
    border: none;
    background: #009cff;
    color: #fff;
    cursor: pointer;
    border-radius: 2px
}

.comment-box .comment-submit:hover{
    background: #027ecc;
}

/*Comment Section End*/

/*Other Books Start*/
.userbookshelf{
    margin: auto;
    margin-top: 3%;
    width: 100%;
    padding: 50px;
    background-color: #FFFFFF;
    max-width: 800px;
    border-radius: 20px;
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

.books p{
    padding: 3px;
    display: inline;
    border:1px;
    border-style:solid;
    border-color: #333333;
    border-radius: 10px;
}
.books{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
   
}
.userbookshelf p{

    margin-top: -15px;
}

.userbookshelf img{
    width: auto;
    height: 250px;
    padding: 5px;
    border-radius: 15px;
}
/*Other Books End*/

